/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  color: #222;
  background: #fff;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  color: #777;
}

input,
textarea {
  outline: none;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
}

span {
  white-space: nowrap;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
}

/* Components */

.grid {
  display: inline-block;
  min-width: 50.2rem;
  min-height: 50.2rem;
  /* margin-top: 5rem; */

  /* display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center; */

  position: relative;
  border-bottom: solid #333 2px;
  border-left: solid #333 2px;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
}

.grid-row {
  margin-bottom: -0.5rem;
}

.grid-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-top: solid #333 2px;
  border-right: solid #333 2px;
}

.robot-wrapper {
}

.robot {
  width: 6rem;
}
