.grid {
  display: inline-block;
  position: relative;
  min-width: 52rem;
  min-height: 52rem;

  &__row {
    &:last-child {
      margin-bottom: -0.5rem;
    }

    &-item {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      background: #fff;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
