.output-panel {
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  min-height: 9.7rem;

  &__title {
    font-weight: 600;
  }

  &__output {
    font-size: 1.6rem;
  }

  span {
    color: #9599e2;
    font-weight: 600;
    margin-right: 1rem;
  }
}
