.robot {
  transition: all 0.3s;
  animation-timing-function: ease;
  z-index: 9999;

  &__img {
    width: 6rem;
  }

  &--NORTH {
    transform: perspective(400px) rotateX(45deg);
  }

  &--EAST {
    transform: perspective(400px) rotateY(45deg);
  }

  &--SOUTH {
    transform: perspective(400px) rotateX(-25deg);
  }

  &--WEST {
    transform: perspective(400px) rotateY(-45deg);
  }

  &--animated-top {
    animation: bounceTop 0.2s;
  }

  &--animated-right {
    animation: bounceRight 0.2s;
  }

  &--animated-down {
    animation: bounceDown 0.2s;
  }

  &--animated-left {
    animation: bounceLeft 0.2s;
  }

  &--animated-static {
    animation: bounceTopSlow 1.5s;
    animation-iteration-count: infinite;
  }

  // Animations
  @keyframes bounceTop {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes bounceRight {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes bounceDown {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes bounceLeft {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-15px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes bounceTopSlow {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
